# Node
node_modules/
dist/
build/
.next/

# Python
venv/
.venv/
venv_linux/
env/
.env/
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/
.env

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/

# Other
*.log
